services:
  python_data:
    container_name: ${python_container_name}
    build: 
      context: .
      dockerfile: Dockerfile
    volumes: 
      - vol:/app/
    networks: 
      - netw

{% if cookiecutter.include_minio == "yes" %}
{% include "docker/optional/minio.yml" %}
{% endif %}

{% if cookiecutter.include_postgres == "yes" %}
{% include "docker/optional/postgres.yml" %}
{% endif %}


networks: #default network
  netw:
    name: ${network}

volumes: #default vlume
  vol:
    name: ${volume}
{% if cookiecutter.include_minio == "yes" %}
  volume_minio: #postgres volume
    name: ${minio_volume}
{% endif %}
{% if cookiecutter.include_postgres == "yes" %}
  volume_db: #postgres volume
    name: ${postgres_volume}
{% endif %}